*
{
    padding: 0%;
    margin: 0;
}
body{
    background-color:#B8B8DC;
    
}
header{
    background-color:#66B3FF;
    height: 80px;
    width:100%;
    position: fixed;
}
h1{
    color:#004B97;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    background-image: url(image/3.svg);
    background-size: cover;
    background-position:center;
    width: 210px;
    text-indent: -99999999px;
}

header ul{
    position: absolute;
    right: 5vw;
    top:0;
    line-height: 80px;
}

header li{
    display: inline;
    margin-right: 4vw;
}

header a{
    color: aliceblue;
    text-decoration: dashed;
}

header a:hover{
color: #5c249c;
text-decoration:underline;
}

.New {
    background-color: darkgrey;
    color: rgb(255, 150, 211);
    height: 95vh;
    background-image: url(image/999.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
.New h2{
    font-size: 80px;
    margin-top: 90px;
    }
    
.New p{
    color: #4db1f3;
    font-size: 18px;
    margin: 25px 0;
    }
    
.New a{
    color: #b861ff;
    text-decoration: none;
    border: 1px solid #c71111;
    padding: 10px 8px;
    border-radius: 5px;
    }
    
.slogan{
    background-color: rgb(108, 167, 218);
    color: rgb(243, 209, 247);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}

footer{
    background-color: rgb(33, 37, 37);
    color: rgb(236, 225, 225);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.shop{
    display: flex;
}

.shop img{
    width: 50%;
}
.info{
    width: 50%;
    background-color: #B8B8DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: #0f1ef3;
}
.info p{
    text-align: center;
    line-height: 2em;
}

.product{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    padding: 100px 180px 80px;
}

.product div{
    width: 300px;
    text-align: center;
}

.product img{
    width: 100%;
    border-radius: 10px;
}

.product h3{
    font-size: 10px;
    margin: 20px 0;
}

.product p{
    font-size: 14px;
    line-height: 1.6em;
}